.Navbar{
 margin: 0;
 padding: 0;
 width: 100%;
 display: flex;
 flex-direction: column;
}

.container_nav_top {
    width: 100%;
    margin: auto;
    background-color: #ffffff;
}
.container_nav_bottom {
    width: 100%;
    margin: auto;
    background-color: #1b2029;
}

.FirstRowNavigation {
 width: 90%;
 margin: auto;
 display: flex;
 height: 127px;
}

.LeftOfNavigation {
 width: 70%;
 display: flex;
 align-content: flex-start;
 align-items: center;
}

.Logo {
    display: flex;
    align-items: center;
}

.NavigationItems {
    display: flex;
    list-style-type: none;

}

.NavigationItem {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    padding-right: 10px;
    margin-right: 10px;
    color: #005c9c;
}

.RightOfNavigation {
 width: 30%;
 display: flex;
 justify-content: flex-end;
 align-items: center;
}

.LanguageDropdown {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    padding-right: 10px;
    margin-right: 10px;
    color: #005c9c;
}

.SigninAndSearch{
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    padding-left: 10px;
    margin-left: 10px;
    color: #005c9c;
}

.SearchIcon {
    padding-left: 10px;
    margin-left: 10px;
}

.SecondRowNavigation {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 1.25rem;
}

.SecondRowNavigation_leftOptions {

}

.SecondRowNavigation_navItems{
    display: flex;
    list-style-type: none;
}

.SecondRowNavigation_navItem {
    padding-right: 10px;
    margin-right: 10px;
}

.SecondRowNavigation_rightOptions {
    display: flex;
    align-items: center;
}

.twitter_hashtag {

}

.socialMedia {

}

.socialMediaIcons{
    display: flex;
    list-style-type: none;
}

.socialMediaIcon{
    padding-left: 10px;
    margin-left: 10px;
}